otus-devops.sublime-workspace
otus-devops.sublime-project

# packer
variables.json
# terraform
.terraform/
*.tfstate
*.tfstate.*.backup
*.tfstate.backup
*.tfvars
*.tfstate.lock.info

# ansible
*.retry

# ansible external roles
riemers.gitlab-runner

# vagrant
.vagrant/
ubuntu-xenial-16.04-cloudimg-console.log

# docker-compose
*.env

