project = "Your project id"
environment = "prod"
ssh_user = "appuser"
public_key_path = "~/.ssh/appuser.pub"
privat_key_path = "~/.ssh/appuser"
docker_disk_image = "docker-base"
docker_disk_size = "50"
region = "europe-north1"
zone = "europe-north1-a"
machine_type = "n1-standard-1"
instance_count = 1
enable_web_traffic = false
crawler_ui_web_port = 8000
crawler_engine_metrics_port = 8001
metrics_ports = [9100, 9216]
