#jinja2: lstrip_blocks: "True"
version: '3.7'
services:
  prometheus:
    image: prom/prometheus:{{ prometheus_version }}
    deploy:
      placement:
        constraints: [node.role == manager]
    ports:
      - '9090:9090'
    volumes:
      - prometheus_data:/prometheus
      - /etc/prometheus:/etc/prometheus
    command:
      - '--config.file=/etc/prometheus/prometheus.yml'
      - '--storage.tsdb.path=/prometheus'
      - '--storage.tsdb.retention=1d'
    networks:
      {{ prometheus_networks | to_nice_yaml(indent=2) | indent(6,False) }}

volumes:
  prometheus_data:

networks:
{% for net in monitoring_networks %}
  {% for key, value in net.items() %}
  {{ key }}:
    name: {{ key }}
    {{ value | to_nice_yaml(indent=2) | indent(6, False) }}
  {% endfor %}
{% endfor %}
