version: '3.4'
services:
  prometheus:
    image: prom/prometheus:{{ prometheus_version }}
    ports:
      - '9090:9090'
    volumes:
      - prometheus_data:/prometheus
      - /etc/prometheus:/etc/prometheus
    command:
      - '--config.file=/etc/prometheus/prometheus.yml'
      - '--storage.tsdb.path=/prometheus'
      - '--storage.tsdb.retention=1d'
    networks:
      {{ prometheus_networks | to_nice_yaml(indent=2) | indent(6,False) }}

volumes:
  prometheus_data:

networks:
{% for net in prometheus_networks %}
  {{ net }}:
    name: {{ net }}
{% endfor %}
